BODY {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    margin: 0px;
}

canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px;
}

a {
    color: #bbbbc4;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    color: #fc3565;
}

h1 {
    color: #fc3565;
    padding-bottom: 0px;
    margin-bottom: 1%;
}

h2 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

p {
    color: #bbbbc4;
    font-size: 1.7rem;
}

label {
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

input, textarea {
      font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;

}


#message{
  min-width: 100%;
  min-height: 25rem;
}

.logo a{
  color: #FFF;
}

.logo {
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 8rem;
}

.row.top p {
    color: #bbbbc4;
    margin-top: 1rem;
    text-align: justify;
    font-size: 1.7rem;
}

.contact {
    display: inline-block;
}



ul {
    padding-top: 2rem;
}

li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    color: #DEDEDE;
}



ul li span {
    font-size: 1.2rem;
}

.smallLogo {
    font-size: 3.5rem;
}

.services h2 {
    color: #fc3565;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.services .title {
    color: #DEDEDE;
    font-size: 3rem;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.cta {
    text-align: center;
}

.cta p {
    color: white;
    font-size: 2rem;
    display: inline-block;
    margin: 1.5rem;
    text-align: center;
}


.footer p {
    color: white;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.footerLinks {
    margin: 0px;
    padding: 0px;
}

.footerLinks li {
    display: inline-block;
    color: white;
    margin: 10px;
}


.services .code {
    background: #9bf1ff;
}

.services .cms {
    background: #7C75B2;
}

.services .seo {
    background: #C2A9B0;
}

.services .social {
    background: #DEB68F;
}

.services p {
    color: white;
}


/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {
    .services {
        width: 100%;
        max-width: 100%;
    }
    .services .column {
        margin: 0;
    }
}


/* Larger than desktop */

@media (min-width: 1000px) {
    .cta {
        position: fixed;
        bottom: 0px;
        text-align: center;
    }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}
